.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
}

.container nav {
  height: 100vh;
  width: 18rem;
  max-width: 30%;
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  overflow: auto;
  box-sizing: border-box;
}

.container nav .info {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1rem;
}

.info span {
  font-weight: bolder;
  margin-top: 1rem;
}

.personal-info {
  display: flex;
  align-items: center;
  background-color: rgba(242, 243, 245);
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.container main {
  flex: 1;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.container main header {
  height: 5rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container main section {
  box-sizing: border-box;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.container main header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255);
  position: sticky;
  z-index: 2;
}

.left-header {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-text {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.logo-left {
  position: absolute;
  left: 50px;
  top: 20px;
}

.top-navigation {
  display: flex;
}

.top-item {
  position: relative;
}

.dropbtn {
  height: 100%;
  padding: 0 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover,
.top-item:hover .dropbtn {
  background-color: #dba37a;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.top-item:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .container nav {
    display: none;
  }

  .container main header {
    justify-content: space-between;
  }

  .container main header .left-header {
    display: flex;
  }
}
